@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

div.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    flex: 7;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.co2 > p {
    font-size: 3rem;
    font-weight: 700;
}

main {
    flex: 12;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top: 1px solid #000000;

    overflow-y: scroll;
}

main > div {
    height: 100%;
}

div.meal {
    flex: 5;
    display: flex;
    flex-direction: column;
}

div.meal-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
}

div.meal-list {
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
    padding: 0 20px;

    padding-top: 10px;
}

div.meal-item {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

div.kcal {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.kcal-title {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
}

div.kcal-data {
    flex: 9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

div.allergy {
    flex: 3;
    display: flex;
    flex-direction: column;
}

div.allergy-title {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
}

div.allergy-list {
    flex: 9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow-y: scroll;
}

div.allergy-item {
    width: 100%;
    padding: 3px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 1;
}
