html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

div.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    flex: 7;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main {
    flex: 12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main > div {
    height: 100%;
}

div.meal {
    flex: 5;
}

div.kcal {
    flex: 2;
}

div.allergy {
    flex: 3;
}

footer {
    flex: 1;
}
